[submodule "components/sharp-lcd"]
	path = components/sharp-lcd
	url = https://github.com/martinberlin/SHARP_Memory_Display-IDF
[submodule "components/Adafruit-GFX"]
	path = components/Adafruit-GFX
	url = https://github.com/martinberlin/Adafruit-GFX-Library-ESP-IDF
[submodule "components/rtc/ds3231"]
	path = components/rtc/ds3231
	url = https://github.com/martinberlin/cpp-ds3231
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "components/lvgl_esp32_drivers"]
	path = components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "components/bb_rtc"]
	path = components/bb_rtc
	url = https://github.com/bitbank2/bb_rtc.git
[submodule "components/esp-idf-scd4x"]
	path = components/esp-idf-scd4x
	url = https://github.com/timbuntu/esp-idf-scd4x.git
